{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=myapp_db;Username=deploy;Password=deploy229;Port=5432"
  },
  "Cors": {
    "Origins": ["https://learning.dvsmet.ru", "http://learning.dvsmet.ru", "http://95.182.121.83"]
  },
  "Logging": {
    "LogLevel": {
      "Default": "Warning",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
